header {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding : 10px;
    height: 81px;
}

.menu {
    width: 60%;
    padding-left: 10%;
    display: flex;
    color: white;
    margin-right: 80px;
    font-size: 24px;
    justify-content: space-between;
    &__label {
        display: flex;
        align-items: center;
    }
}

.logo {
    width: 13%;
    margin-left: 10px;
    object-fit: contain;
    & img {
        width: 100%;
    }
}